@use "color";


.hidden {
    display: none;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.modal {

    .header {
	background-color: color.$secondary;
	display: flex;
	flex-direction: row-reverse;
    }

    .close {
	display: inherit;
	z-index: inherit;
	background-color: inherit;
	border: none;
	color: color.$background
    }

    div[role=dialog] {
	top: 5vh;
	left: 10vw;
	position: fixed;
	width: 80vw;
	height: 90vh;
	z-index: 2;
    }
}


.hidden {
    display: none;
}
