@use "color";
@use "font";
@use "icon";

@media screen and (min-width: 320px) {
    .meetup-page {
	grid: {
	    template-areas:  "sidebar" "content" "welcome" ;
	}
    }
}

@media screen and (min-width: 1100px) {
    .meetup-page {
	grid: {
	    template-areas: "content sidebar" "welcome sidebar" ;
	}
    }
}

.meetup-page {

    display: grid;

    .hosts {

	list-style: none;
	display: flex;
	flex-direction: row-reverse;
	padding: 0px;

	.host {
	    display: flex;
	    align-items: center;
	    font: {
		size: font.$body-small-size;
	    }
	    span {
		padding-right: 0.25rem;
	    }
	    padding-right: 0.5rem;
	}
    }

    .side-sheet {
	grid-area: sidebar;
	max-width: 600px;

	.side-sheet-content > * {
	    padding-top: 1rem;
	    padding-bottom: 1rem;
	}
    }

    .events {
	grid-area: content;

	.event {
	    padding-bottom: 3rem;
	}
    }

    .welcome {
	grid-area: welcome;
	max-width: 800px;
	padding-top: 1rem;
	font-family: font.$body-family;
	font-size: font.$body-normal-size;
    }

    .meetup-dot-com {

	padding-left: 1rem;
	padding-right: 1rem;

	a {
	    text-decoration: none;
	    color: color.$foreground;
	    padding: 0rem;
	    display: flex;
	    justify-content: space-between;
	}

	h2 {
	    display: flex;
	    font: {
		size: font.$large-size;
		weight: 400;
	    }
	    align-items: center;
	    margin: 0px;
	}

	&:hover, &:focus {
	    background-color: color.$background-1;
	}
	.logo {
	    height: icon.$standard-size;
	    padding-right: 10px;
	}
	div {
	    display: flex;
	    flex-direction: row-reverse;
	    .sign-up {
		text-transform: uppercase;
		padding: 10px;
		font-size: font.$normal-size;
	    }
	}
    }

    .panel {
	min-width: 600px;
	max-width: 600px;
	padding: 2rem 0 1rem 0;

	.date {
	    padding: 1rem;
	    display: flex;
	    align-items: center;

	    .material-icons {
		padding-right: 8px;
	    }
	}
    }

    .panel-summary {

	display: flex;
	cursor: pointer;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;

	.event-time {
	    display: flex;
	    align-items: center;
	    .material-icons {
		padding-right: 8px;
	    }
	}
	align-items: center;
	justify-content: space-between;

	&:hover, &:focus {
	    background-color: color.$background-1;
	}
    }

    .panel-toggle-on {
	.panel-toggle-icon {
	    transform: rotate(180deg);
	}
    }

    .panel-toggle-icon {
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .event-schedule {
	display: grid;
	list-style: none;
	li {

	    > * {
		padding: 0.25rem;
	    }
	    display: contents;
	    .event-time {
		grid-column: 1;
	    }
	    .event-name {
		grid-column: 2;
	    }
	}
	padding: 0px;
    }
}

.event-page {
    display: flex;
    justify-content: center;
}

.event {

    max-width: 800px;
    min-width: 800px;
    padding-top: 3rem;

    // This is a fishy way of making the page longer than the screen height
    // If it’s too short, switching from a long tab (e.g ABOUT) to a small tab (e.g. MEDIA)
    // changes the visual position of the view.  Try removing this and switching tabs to
    // see the problem.
    padding-bottom: 10rem;

    div[role=tablist] {
	button[role=tab] {
	    min-width: 100px;
	    padding: 0 0.25rem 0 0.25rem;
	    font: {
		family: font.$family;
		size: font.$normal-size;
	    }
	}
    }

    .tabs {
	padding-top: 0.5rem;
    }

    .abstract {
	line-height: font.$block-line-height;
	font-family: font.$body-family;
	font-size: font.$body-normal-size;
    }

    .bio {
	font-family: font.$body-family;
	font-size: font.$body-normal-size;
    }

    div[role=tabpanel] {
	.media {
	    list-style: none;
	    width: 100%;
	}
    }

    .event-header {
	text-align: center;
    }
    .tags {

	list-style: none;

	li {
	    padding-right: 0.5rem;
	    display: inline-block;
	}

	padding: 0rem;
	margin-bottom: 1rem;
    }


    strong {
	font-weight: 600;
    }

    .setup {
	line-height: font.$block-line-height;
	font-family: font.$body-family;
	font-size: font.$body-normal-size;
    }

    .material {

	width: 100%;

	ol {
	    list-style: none;
	}

	li {
	    
	    a {
		display: flex;
		align-items: center;
		padding: 0.25rem 0 0.25rem 0;

		font-family: font.$body-family;
		font-size: font.$body-normal-size;
		color: color.$foreground;
		text-decoration: none;

		&:hover, &:focus {
		    background-color: color.$background-1;
		}

		.material-icons {
		    transform: rotate(-90deg);
		    padding: 0 1rem 0 1rem;
		    font-variant: none;
		}
	    }
	}
    }

    .speaker {

	padding: 0.5rem 0 0.5rem 0;

	header {
	    font-weight: 600;
	    font-family: font.$body-family;

	    h3 {
		font-weight: 600;
	    }
	}
	.social-media {
	    display: flex;
	    align-items: center;

	    .social-media-icon {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	    }

	    a {
		color: color.$foreground;
	    }
	}
    }

    .media {
	button.open-media, a.open-media {
	    width: 100%;
	}
    }
}

a.external {
    border-radius: 10px;
    text-decoration: none;
    color: color.$foreground;

    &::after {
	content: "\FEFF°";
	color: color.$primary;
    }
    &:hover, &:focus {
	background-color: lighten(color.$primary, 45%);
    }
}
