html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 21px;
  }
}


$family: 'Fira Code', sans-serif;
$normal-size: 0.95rem;
$large-size: 1.2rem;
$block-line-height: 140%;
$body-family: 'Source Serif Pro', serif;
$body-normal-size: 1.2rem;
$body-small-size: 1rem;
$body-large-size: 1.4rem;
$body-huge-size: 1.6rem;
