@use "color";
@use "font";

.tab-content {
    display: flex;
    justify-content: center;
}


.event {
    display: contents;
    text-decoration: none;

    color: color.$foreground;

    &:visited {
	color: color.$foreground;
    }

    &:active {
	color: color.$foreground;
    }

    &:hover {
	color: color.$foreground;
    }
}

.event-summary {

    box-shadow: color.$box-shadow-primary;
    border-radius: 0.5rem;
    max-width: 45rem;

    &:hover {
	background-color: darken(color.$background, 2%);
	box-shadow: color.$box-shadow-action;
	cursor: pointer;
    }

    h1 {
	font: {
	    size: font.$large-size;
	    weight: 400;
	}
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	div {
	    display: flex;
	    align-items: center;
	    span {
		padding: 0.5rem;
	    }
	}
    }

    h2 {
	font: {
	    size: font.$large-size;
	}
	color: color.$primary;
    }

    $content-padding: 2rem;

    .event-content {
	padding: {
	    left: $content-padding;
	    right: $content-padding;
	    bottom: $content-padding;
	}


	.event-tags {
	    list-style: none;
	    li {
		padding-right: 1rem;
		display: inline-block;
	    }
	    padding: 0px;
	    margin-bottom: 1rem;
	}
    }

    .person-badge {
	font: {
	    size: 1rem;
	    style: italic;
	}
    }

    .speakers {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	ul {
	    list-style: none;
	    li {
		padding-left: 1.5rem;
		display: inline-block;
	    }
	}
    }

    .event-more {
	display: flex;
	padding-top: 0.5rem;
	font: {
	    weight: bold;
	    size: 1rem;
	}
	flex-direction: row-reverse;
	text-transform: uppercase;
    }
}
