@use "color";
@use "font";

div[role=tabpanel] {
    display: flex;
    justify-content: center;
    &[hidden] {
	display: none;
    }
}

.link {
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.tab-indicator {
    height: 0.2rem;
    display: inline-block;
    position: relative;
    background-color: lighten(color.$secondary, 30%);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
}

div[role=tablist] {

    button[role=tab] {
	min-width: 160px;
	background-color: transparent;
	color: lighten(color.$primary, 35%);
	border: 0rem;
	padding: 0rem;
	margin: 0rem;
	text-transform: uppercase;
	font: {
	    size: font.$large-size;
	    weight: 800;
	}

	&[aria-selected=true] {
	    color: color.$primary;
	}

	&:hover {
	    color: color.$primary;
	    cursor: pointer;
	}

	&:focus {
	    color: color.$primary;
	}
    }
}

.events {
    list-style: none;
    padding: 0rem;
    li {
	padding-top: 1.5rem;
    }
}

.event {

    .venue-address {
	span {
	    padding: 0.1rem;
	}
    }

    display: block;
    text-decoration: none;

    color: color.$foreground;

    &:visited {
	color: color.$foreground;
    }

    &:active {
	color: color.$foreground;
    }

    box-shadow: color.$box-shadow-primary;
    border-radius: 0.5rem;
    max-width: 45rem;

    &:hover {
	background-color: darken(color.$background, 2%);
	box-shadow: color.$box-shadow-action;
	cursor: pointer;
    }

    &:focus {
	background-color: darken(color.$background, 2%);
	box-shadow: color.$box-shadow-action;
	cursor: pointer;
    }

    $content-padding: 2rem;

    header {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: $content-padding - 0.5rem;

	.event-location {
	    span {
		padding: 0.5rem;
	    }
	}

	div {
	    display: flex;
	    align-items: inherit;
	}

	h1 {
	    display: flex;
	    align-items: inherit;
	    span {
		padding: 0.25rem;
	    }
	    font: {
		size: font.$large-size;
		weight: 400;
	    }
	    padding: 0rem;
	    margin: 0rem;
	}


    }

    .event-content {

	header {

	    padding: 0rem;

	    h2 {
		font: {
		    size: font.$large-size;
		}
		color: color.$primary;
		padding: 0rem;
	    }
	}

	padding: {
	    left: $content-padding;
	    right: $content-padding;
	    bottom: $content-padding;
	}

	.event-item-blurb {
	    line-height: font.$block-line-height;
	}


	.event-tags {

	    list-style: none;

	    li {
		padding-right: 0.5rem;
		display: inline-block;
	    }

	    padding: 0rem;
	    margin-bottom: 1rem;
	}
    }

    .speaker {
	span {
	    padding-right: 1.25rem;
	}
	display: flex;
	align-items: center;
	font: {
	    size: font.$normal-size;
	    style: italic;
	}
	font: {
	    size: 1rem;
	    style: italic;
	}
    }

    .speakers {

	$padding: 0.5rem;

	display: contents;
	flex-direction: row-reverse;

	div {
	    display: flex;
	    justify-content: flex-end;
	    padding: $padding;
	    .person-badge {
		padding: $padding;
	    }
	}
	ul {
	    display: flex;
	    padding: 0rem;
	    flex-direction: inherit;
	    flex-wrap: wrap-reverse;
	    align-items: center;
	    list-style: none;
	    li {
		padding: $padding;
	    }
	}
    }
}
