@use "color";
@use "font";

$standard-size: 2.25rem;

.material-icons {
    font-size: $standard-size;
    padding: 0px;
}

.tag-badge {
    background-color: color.$secondary;
    color: color.$background;
    border-radius: 0.5rem;
    border: 0.5rem solid color.$secondary;
}

.profile-picture {
    padding: 0rem;
    img {
	border-radius: 50%;
	height: 4.25rem;
    }
}
