@use "color";
@use "font";

$standard-size: 2.25rem;

.material-icons {
    font-size: $standard-size;
}

.tag-badge {
    background-color: color.$secondary;
    color: color.$background;
    border-radius: 5px;
    border: 5px solid color.$secondary;
}

.person-badge {

    display: flex;
    align-items: center;
    font: {
	size: font.$normal-size;
	style: italic;
    }
    span {
	padding-right: 1.25rem;
    }
    img {
	border-radius: 50%;
	height: 4.25rem;
    }
}
