@use "color";
@use "font";
@use "home";
@use "event";
@use "icon";

body {
    background-color: color.$background;
    margin: 0px;
    font: {
	family: font.$family;
	size: font.$normal-size;
    }
}

nav {

    background-color: color.$secondary;

    $side-padding: 1.5rem;

    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: color.$box-shadow-primary;
    padding-left: $side-padding;
    padding-right: $side-padding;
    font-size: font.$large-size;

    color: color.$background;

    .abbrev-name {
	font-weight: 800;
    }

    a {
	border-radius: 1rem;
	display: block;
	margin: 0.5rem;
	border: 0.5rem solid color.$secondary;
	&:hover {
	    border: 0.5rem solid color.$primary;
	    background-color: color.$primary;
	    cursor: pointer;
	}
    }

    div {
	display: flex;
    }

}

main {
    padding: {
	left: 1.5rem;
	right: 1.5rem;
    }
}

.footer {
    display: flex;
    justify-content: center;
}
